body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.Weather {
    background-color: white;
border: 1px solid #3f3697;
border-radius: 5px;
padding: 16px;
margin: 30px auto;

}

.Weather form {
    margin-bottom: 15px;
}

.Weather h1 {
    color: #495464;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.Weather ul {
    margin: 0;
}

.Weather li {
color: #495464;
font-size: 16px;
font-weight: 200;
list-style: none;

}

.Weather .temperature {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 5px;
    top: -24px;
    line-height: 1;
}

.Weather img {
    height: 48px;
    width: 48px;
    margin-right: 10px;
    display: inline-block;
}